<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-header">
        <span class="font-weight-bold">Year-Wise Total Payment and Interest</span>
      </div>
      <div class="card-body">
        <canvas [chartType]="barChartType" [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend"
          [options]="barChartOptions" [colors]="barChartColors" baseChart>
        </canvas>
      </div>

    </div>
  </div>
  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <span class="font-weight-bold">Total Interest and Payment</span>
      </div>
      <div class="card-body">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
          [options]="pieChartOptions" [colors]="pieChartColors" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card mb-3">
      <div class="card-header">
        <span class="font-weight-bold">Year-Wise Remaining Balance</span>
      </div>
      <div class="card-body">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</div>