<div class="jumbotron d-flex" style="padding: 3rem 2rem;">
  <div class="container">
    <div class="row">
      <h3 class="display-4 font-weight-bold">Loan Repayment Calculator</h3>
    </div>
  </div>
</div>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="container">
    <div class="row">
      <div class="col-md-6 card">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group">
              <label for="loanAmount">Enter Loan Amount</label>
              <input prefix="₹" thousandSeparator="," mask="separator" formControlName="loanAmount" type="text"
                class="form-control" id="loanAmount" placeholder="Enter Amount" class="form-control" />
              <div *ngIf="myForm.get('loanAmount').touched && myForm.get('loanAmount').invalid">
                <span class="text-danger" *ngIf="myForm.get('loanAmount').hasError('required')">
                  *Required
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('loanAmount').hasError('negativeValue')&& !myForm.get('loanAmount').hasError('required')">
                  *Negative value are not allowed.
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('loanAmount').hasError('valueIsZero')&& !myForm.get('loanAmount').hasError('required')">
                  *Zero value are not allowed.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="loanTerm">Enter Loan Tenure</label>
              <input formControlName="loanTerm"
                [value]="change==1 ?(myForm.get('loanTerm').value % 1==0 ? (myForm.get('loanTerm').value | number : '1.0-0'):(myForm.get('loanTerm').value | number : '1.1-1')):(myForm.get('loanTerm').value | number : '1.0-0')"
                type="number" class="form-control" id="loanTerm" placeholder="Enter Loan Term" class="form-control" />
              <div *ngIf="myForm.get('loanTerm').touched && myForm.get('loanTerm').invalid">
                <span class="text-danger" *ngIf="myForm.get('loanTerm').hasError('required')">
                  *Required
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('loanTerm').hasError('negativeValue')&& !myForm.get('loanTerm').hasError('required')">
                  *Negative value are not allowed.
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('loanTerm').hasError('valueIsZero')&& !myForm.get('loanTerm').hasError('required')">
                  *Zero value are not allowed.
                </span>
              </div>
            </div>

            <div class="form-group">
              <label for="interestRate">Enter Interest Rate </label>
              <input mask="percent" suffix="%" mask="separator" formControlName="interestRate" type="text"
                class="form-control" id="interestRate" placeholder="Enter Interest Rate" class="form-control" />
              <div *ngIf="myForm.get('interestRate').touched && myForm.get('interestRate').invalid">
                <span class="text-danger" *ngIf="myForm.get('interestRate').hasError('required')">
                  *Required
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('interestRate').hasError('negativeValue')&& !myForm.get('interestRate').hasError('required')">
                  *Negative value are not allowed.
                </span>
                <span class="text-danger"
                  *ngIf="myForm.get('interestRate').hasError('valueIsZero')&& !myForm.get('interestRate').hasError('required')">
                  *Zero value are not allowed.
                </span>
              </div>
            </div>
            <br />
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="LoanType">Select Loan Type</label>
              <select class="form-control" formControlName="loanType" id="LoanType">
                <option *ngFor="let lType of loanTypeValue" [value]="lType.id">
                  {{ lType.name }}
                </option>
              </select>
              <div *ngIf="myForm.get('loanType').touched && myForm.get('loanType').invalid">
                <span class="text-danger" *ngIf="myForm.get('loanType').hasError('required')">
                  *Required
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="btn-group btn-group-toggle btn-block margin-top" data-toggle="buttons">
                <label class="btn btn-prime" [ngClass]="change===1?'active':''">
                  <input type="radio" (change)="onChangeValue()" formControlName="termType" id="option1" value="1"
                    autocomplete="off"> Year
                </label>
                <label class="btn btn-prime " [ngClass]="change===2?'active':''">
                  <input type="radio" (change)="onChangeValue()" formControlName="termType" id="option2" value="2"
                    autocomplete="off"> Month
                </label>
              </div>
            </div>

            <div class="form-group">
              <label for="">&nbsp;</label>
              <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary btn-block">
                Calculate EMI
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="card col-md-12 border border-primary">
            <div class="card-body">
              <h6 class="text-md-center">MINIMUM MONTHLY PAYMENT</h6>
              <h3 class="text-md-center">{{ emiValue | roundTheNumber | currency: "INR" }}</h3>
            </div>
          </div>
          <div class="card col-md-12 border border-primary">
            <div class="card-body">
              <h6 class="text-md-center">TOTAL AMOUNT PAID</h6>
              <h3 class="text-md-center">
                {{ totalAmountPaid | roundTheNumber | currency: "INR" }}
              </h3>
            </div>
          </div>
          <div class="card col-md-12 border border-primary">
            <div class="card-body">
              <h6 class="text-md-center">TOTAL INTEREST PAID</h6>
              <h3 class="text-md-center">
                {{ totalIntrest | roundTheNumber | currency: "INR" }}
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <chart *ngIf="installmentLabel?.length" [lineBalance]="LineChartDataSet" [pieChart]="pieChart"
        [barTotalPayment]="yearWisePrincipalAmount" [barIntrestTotalPayment]="yearWiseInterestAmount"
        [barYear]="installmentLabel">
      </chart>
    </div>
    <dispaly-amortization [excelFileName]="excelFileName" [amortizationValues]="amortizationValues">
    </dispaly-amortization>
  </div>
</form>